################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HahaCantGetMySecretKey.py
/.vs
/_pycache_